streamlit==1.33.0
numpy==1.26.4
joblib
scikit-learn

# ✅ Fix for spaCy install
spacy==3.5.4
blis==0.7.11
thinc==8.2.3

# Optional but safer
setuptools
wheel

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
